.list {
   
    margin-top: 10px;
}

.no-notes {
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: rgb(33, 32, 32);
}

.no-notes-p {
    color: gray;
    font-size: 13px;
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
}