
.card {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.card-wrapper {
    margin-top: 8px;
    border-radius: 3px;
    background-color: rgb(61, 60, 60);
}


#loading {
    background-color: rgb(33, 32, 32);
}

.card-wrapper:hover {
    background-color: rgb(90, 89, 89);

}

.card-time {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.card-time p {
    padding-right: 10px;
    font-size: 9px;
}

.card-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    font-size: 14px;
    color: white;
}


#delete {
    color: rgb(162, 160, 160);
    margin-right: 10px;
}